/* your styles go here */

.navbar-brand>img {
  height: 100%
}

/* why */
section#why, section#community {
  padding-top: 90px;
  padding-bottom: 90px;
}

section#why li {
    margin: 10px 0;
}

/* contact */

section#contact .margin-bottom--zero {
    margin-bottom: -2px !important;
}
section#contact #mc_embed_signup {
  text-align: left;
  font: inherit;
}

section#contact .mc-field-group{
  margin: 20px 0;
  width: 100%;
}

section#contact .text-gray-light {
  color: #424242;
  font-weight: 400;
}

section#contact .form-control{
  width: 100%;
  height: 50px;
  border-radius: 10px;
  border: 1px solid #53449a;
}
section#contact .form-control:focus {
  border-color: #339393;
}

section#contact .btn-primary {
  color: #ffffff;
  background-color: #7555B7;
  border-color: #7555B7;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  transition: background-color 0.4s, color 0.4s, transform 0.4s, opacity 0.4s ease-in-out;
}
section#contact .btn-primary:hover {
  background-color: #339393;
  border-color: #339393;
  transition: background-color 0.4s, color 0.4s, transform 0.4s, opacity 0.4s ease-in-out;
}
